.TileRed>.sapMTileCntFtrTxt {
	color: red;
}

.TileGreen>.sapMTileCntFtrTxt {
	color: green;
}

.title {
	font-size: x-large;
	font-weight: bold;
}

.SmallText {
	font-size: small;
	font-weight: bold;
}

.Bold>.sapMListTbl, .sapMText {
	font-weight: bold;
}

.BigText, .BigText>.sapMRbBLabel, .BigText>.sapMLabel {
	font-size: large;
}

.Hide, .Hide>.sapMITBSep, .Hide>.sapMITBSepLine, .sapMITBSepLine {
	visibility: hidden;
}

.sapMITBHorizontal.sapMITBFilter {
	width: 30%;
	font-stretch: semi-condensed;
}

.sapMITBHead {
	width: 100%;
}

.lpsapMListHdr>.sapMListHdr {
	border-bottom: transparent;
}

.sapMPanelContent: {
	background-color: transparent;
	border-bottom: 1px solid transparent;
}

.backgroundColor>.sapMTB {
	border-bottom: 1px solid transparent;
}

.backgroundColor>.sapMBtnTransparent, .backgroundColor>.sapMBtnHoverable
	{
	background-color: transparent;
}

.backgroundColor>.sapMPanelBGTranslucent
.sapMPanelContent
.sapMPanelExpandablePart {
	background-color: transparent;
	border-bottom: 1px solid transparent;
}
/* 
.sapMPanelContent {
	min-height: 100%;
}

.customizedTile>.sapMPanel .sapMPanelContent {
	min-height: 100%;
	background-color: red;
}

.Background {
	background-color: white;
} */